about-page {
  //padding: 0 0 3rem 3rem;
  //background-color: black;
  //color: red;
}

.about-page__image {
  display: flex;
}

.about-page__heading {
  display: flex;
  align-self: center;
}

.about-page__p1 {
  //width: 54%;
}

.about-page__subheading {

}

.about-page__p2 {

}
