.navbar-brand {
  color: red;
  text-decoration: none;
}

.sr-only {
  font-size: 1rem;
  color: white;
  background-color: black;
  border: none;
}

.nav-list {
  list-style-type: none;
  text-decoration: none;
  color: red;
}
