.navbar-brand {
  color: $brand-nav-section;
  text-decoration: none;
}

.sr-only {
  border: 0;
  background-color: $brand-base-color;
  color: $brand-text;
  font-size: 1rem;
}

.nav-list {
  color: $brand-nav-section;
  text-decoration: none;
  list-style-type: none;
}
