.gaming-button {
  display: flex;
  justify-content: center;
  margin: 2rem;

  &__text {
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: $brand-base-color;
    color: $brand-text;
    font-size: 1rem;

  }
}

.info-area {
  display: flex;
  justify-content: space-around;
  //background-color: $brand-nav-section;
}

.about-product {
  padding: 1rem;
  border: 1px solid $brand-text;
  background-color: $brand-nav-section;

  &__heading {
    display: flex;
    justify-content: center;
    color: $brand-text;
  }

  &__text {
    //color: $brand-text;
  }
}

.product-heading {
  display: flex;
  justify-content: center;
  background: $brand-text;
}

.product-section {
  background-color: $brand-border-bg;
}

.gaming__laptops {
  // margin: 1rem;
}

.laptop__container-top {
  margin: 0;
  padding: 1rem;
  background-color: $brand-base-color;
  color: $brand-text;
}

.laptop__container {
  background-color: $brand-text;
}

.laptop__container-text {
  // display: flex;
  // justify-content: center;
  margin: 1rem;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  margin: auto;
  padding: 1rem;
}

.laptop__img {
  width: 40%;
  margin: auto;

  &-text {
    display: flex;
    flex-direction: column;
    margin: auto;
   }
}

.select-button {
  border: 0;
  border-radius: 0.4rem;
  background-color: $brand-button-color;
  color: $brand-text;
  font-size: 1rem;
  text-decoration: none;
}

.footer-section {
  display: flex;
  justify-content: space-around;
  background-color: $brand-base-color;
  color: $brand-text;
}

.bottom-footer__text {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  background-color: $brand-color-bg;
  color: $brand-text;
}

.buttons {
  border: 0;
  background-color: $brand-base-color;
  color: $brand-nav-section;
  font-size: 1rem;
}
