.panel-title {
  margin-left: 1rem;
}

.label-id {
  padding-right: 5.7rem;
}

.label-item {
  padding-right: 4.5rem;
}

.label-price {
  padding-right: 2.8rem;
}

.label-quantity {
  padding-right: 5.2rem;
}

.label-color {
  padding-right: 3.2rem;
}

.label-screen {
  padding-right: 0.2rem;
}

.label-add1 {
  padding-right: 4.5rem;
}

.label-add2 {
  padding-right: 4.5rem;
}

.label-state {
  padding-right: 6.7rem;
}

.label-city {
  padding-right: 7.2rem;
}

.label-zip {
  padding-right: 7.5rem;
}

.label-credit {
  padding-right: 0.8rem;
}

.label-cvv {
  padding-right: 7.5rem;
}
