body {
  background-color: $brand-text;
}

.register-page {
  min-height: 50vh;
}

.input-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.form-heading,
.input-field {
  margin: 1rem;
  text-align: center;
}

.placeholder-field {
  padding: 0.2rem 1rem;
  border: 2px solid $brand-border-bg;
  font-size: 1.1rem;
}

.input-section {
  padding: 2rem;
  background-color: $brand-text;
}

.register-button {
  padding: 0.5rem;
  border: 0;
  background-color: $brand-nav-section;
  color: $brand-text;
  font-size: 1.2rem;
  text-decoration: none;
}

.register-button,
.input-section,
.placeholder-field {
  border-radius: 0.2rem;
}

.register-container {
  display: flex;
  justify-content: center;
  padding: 0.7rem 0 2rem;
}

.register-question {
  display: flex;
  justify-content: center;
  height: 50px;
}

.register-login {
  border: 0;
  border-radius: 2rem;
  background-color: $brand-base-color;
  color: $brand-text;
  text-decoration: none;
}
