.review-heading {
  padding: 1rem;
  background-color: $brand-base-color;
  color: $brand-text;
}

.review-header {
  color: $brand-nav-section;
  font-family: verdana;
  font-size: 2rem;
}

.review-header__text {
  margin-left: 2rem;

}

.img-container {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.reviewpage-image {
  width: 100%;
}

.laptop-reviews {
  display: flex;
  justify-content: center;
  margin: 16rem 0;
  background-color: $brand-base-color;
  color: $brand-text;
}

.review-info {
  padding: 3rem;
}

.review-info__text {
  width: 80%;
}

.review-footer {
  text-align: center;
}

.img-header {
  color: aliceblue;
}

.footer-img {
  border-radius: 9rem;
}
