
// Login Form styles
$brand-base-color: #0b0c0d;
$brand-background-color: #346fa5;
$brand-login-button: #5d5d69;
$brand-text: #fff;
$brand-button-background: #197bd3;


$brand-title: #38393c;
$brand-nav-section: #f00;
$brand-register-bg: #2c3a47;
$brand-button-color: #35ac72;
$brand-border-bg: #cdcdcd;
$brand-bg: #787d8e;
$brand-color-bg: #0079bf;
$brand-admin-background: #f5f3b3;
$brand-register-btn: #f0f8ff;
$brand-support-color: #ff0;
