@import 'variables';
@import 'normalize';
@import 'utils/unit';
@import 'grid';
@import 'theme';

// Text helper: left.
.text-left {
  text-align: left;
}

// Text helper: center.
.text-center {
  text-align: center;
}

// Text helper: right.
.text-right {
  text-align: right;
}
