<header class="navbar">

  <div class="company-name__logo"><span class="company-name">Inveo</span> systems</div>

    <nav class="navbar-links">
      <button class="buttons">{{#link-to 'login' class="signin"}}SIGNIN{{/link-to}}</button>
      <button class="buttons">{{#link-to 'register' class="signup"}}SIGNUP{{/link-to}}</button>
    </nav>

</header>


  <div class="home-img__container">

  </div>

{{outlet}}
