<div class="index-route">
  <div class="nav-container">
    <h1>Inveo Systems &#174;</h1>
    <nav class="nav">
      <ul>
        {{#link-to "index.login" tagName="li" href=false}}
          {{#link-to "index.login"}}Log In{{/link-to}}
        {{/link-to}}
        {{#link-to "index.register" tagName="li" href=false}}
          {{#link-to "index.register"}}Register{{/link-to}}
        {{/link-to}}
      </ul>
    </nav>
  </div>

  <div class="page-body">
    {{outlet}}
  </div>
</div>
