<div class="admin-dashboard">
  <div class="admin-header">
    <nav class="admin-navbar">
      <ul>
        <li>
          <span class="navbar-text"><i class="fa fa-user fa-fw"></i> {{currentUser.model.email}}</span>
        </li>
      </ul>
    </nav>
    <ul class="admin-navmenu">
      {{#link-to "home" tagName="li" href=false}}
        {{#link-to "home" class="external-link"}}<i class="fa fa-home fa-fw"></i> Back to Website{{/link-to}}
      {{/link-to }}
      {{#link-to "admin.index" tagName="li" href=false}}
        {{#link-to "admin.index"}}<i class="fa fa-dashboard fa-fw"></i> Dashboard{{/link-to}}
      {{/link-to}}
      {{#link-to "admin.laptop" tagName="li" href=false}}
        {{#link-to "admin.laptop"}}<i class="fa fa-list fa-fw"></i> Laptops{{/link-to}}
      {{/link-to}}
      {{#link-to "admin.order" tagName="li" href=false}}
        {{#link-to "admin.order"}}<i class="fa fa-list fa-fw"></i> Orders{{/link-to}}
      {{/link-to}}
    </ul>
  </div>

  <div class="admin-main">
    <div class="admin-content">
      {{outlet}}
    </div>
  </div>
</div>
