<div class="page-header">
  <h1>Having Problems?</h1>
</div>

<div class="support">
  <div class="support-body">
    <p>Sorry To hear you're having trouble. But don't worry, we'll have you back up and running in no time.
    Give us call at the numbers listed below.</p>
  </div>
  <ul class="support-contact">
    <li>
      <div class="support-contact-label">US</div>
      <div class="support-contact-value">856-383-0260</div>
    </li>
    <li>
      <div class="support-contact-label">INTERNATIONAL</div>
      <div class="support-contact-value">1-800-278-4296</div>
    </li>
  </ul>
</div>

{{outlet}}
