<div class="support-heading">
  <h1>Having Problems?</h1>

  <p>Sorry To hear you're having trouble. But don't worry, we'll have you back up and running in no time.
  Give us call at the numbers list below.</p>
</div>

<div class="contact-number">
  <p>US: 856-383-0260</p>
  <p>INTERNATIONAL: 1-800-278-4296</p>
</div>


{{outlet}}
