<div class="review-heading">
  <p><span class="review-header">Inveo</span> Systems</p>

  <div class="review-header__text">
    <p class="review-header__subtext">The Machines Dreams Are Made Of</p>
  </div>
</div>


<div class="laptop-reviews">

   <div class="img-container">
     <img class="reviewpage-image" src='/p870-0.png' alt="" />
   </div>

    <div class="review-info">
      <h2>MSI GT Dominator Pro</h2>
      <h4>A monster of a gaming machine</h4>

      <p class="review-info__text">If you are looking for a gaming laptop search no more.
        A rare gaming laptop with top-end Nvidia 980M graphics, and
        the extra cooling required to run high-end parts in a smaller
          Battery life is excellent for a gamers mobility. This by far
          one of the best latops we've tested.</p>
  </div>
</div>



<div class="laptop-reviews">

  <div class="review-info">
    <h2>MSI GT Dominator Pro</h2>
    <h4>A monster of a gaming machine</h4>

    <p class="review-info__text">If you are looking for a gaming laptop search no more.
      A rare gaming laptop with top-end Nvidia 980M graphics, and
      the extra cooling required to run high-end parts in a smaller
      Battery life is excellent for a gamers mobility. This by far
      one of the best latops we've tested.</p>
    </div>

   <div class="img-container">
     <img class="reviewpage-image" src='/p870-0.png' alt="" />
   </div>

</div>


<div class="laptop-reviews">

   <div class="img-container">
     <img class="reviewpage-image" src='/p870-0.png' alt="" />
   </div>

    <div class="review-info">
      <h2>MSI GT Dominator Pro</h2>
      <h4>A monster of a gaming machine</h4>

      <p class="review-info__text">If you are looking for a gaming laptop search no more.
        A rare gaming laptop with top-end Nvidia 980M graphics, and
        the extra cooling required to run high-end parts in a smaller
          Battery life is excellent for a gamers mobility. This by far
          one of the best latops we've tested.</p>
  </div>
</div>



<div class="laptop-reviews">

  <div class="review-info">
    <h2>MSI GT Dominator Pro</h2>
    <h4>A monster of a gaming machine</h4>

    <p class="review-info__text">If you are looking for a gaming laptop search no more.
      A rare gaming laptop with top-end Nvidia 980M graphics, and
      the extra cooling required to run high-end parts in a smaller
      Battery life is excellent for a gamers mobility. This by far
      one of the best latops we've tested.</p>
    </div>

   <div class="img-container">
     <img class="reviewpage-image" src='/p870-0.png' alt="" />
   </div>

</div>

 <div class="review-footer">

   <div class="">
     <h1>ARE YOU READY?</h1>
   </div>

   {{#link-to 'home'}}<img src="/download.png" alt="" />{{/link-to}}

 </div>

{{outlet}}
