<div class="account-content-header">
  <ul class="account-content-navmenu">
    {{#link-to "account.order.index" tagName="li" href=false}}
      {{#link-to "account.order.index"}}Orders Index{{/link-to}}
    {{/link-to}}
  </ul>
</div>

<div class="account-content-main">
  {{outlet}}
</div>
