<div class="admin-content-header">
  <ul class="admin-content-navmenu">
    {{#link-to "admin.order.index" tagName="li" href=false}}
      {{#link-to "admin.order.index"}}Orders Index{{/link-to}}
    {{/link-to}}
  </ul>
</div>

<div class="admin-content-main">
  {{outlet}}
</div>
