<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Dashboard</h2>
  </div>
  <div class="panel-body">
    <p>Welcome to the Administration dashboard. Here you can add new products to your online market place, modify existing ones, or review orders.</p>
    <p>Click one of the navigation items to get started!</p>
  </div>
</div>

{{outlet}}
