<div class="page-header">
  <h1>Your Account</h1>
</div>

<div class="page-body">
  <p>Welcome to the Account dashboard, {{currentUser.model.email}}! Here you can view your placed orders.</p>
  <p>Click the order navigation item to check!</p>

  {{outlet}}
</div>

{{outlet}}
