<div class="page-header">
  <h1>The Machines Dreams Are Made Of</h1>
</div>

<div class="review">
  <div class="review-body">
    <h2>MSI GT Dominator Pro</h2>
    <strong>A monster of a gaming machine</strong>
    <p>If you are looking for a gaming laptop search no more. A rare gaming laptop with top-end Nvidia 980M graphics, and the extra cooling required to run high-end parts in a smaller Battery life is excellent for a gamers mobility. This by far one of the best latops we've tested.</p>
  </div>
  <div class="review-image-container">
    <img class="review-image" src="/p870-0.png" alt="" />
  </div>
</div>

<div class="review">
  <div class="review-body">
    <h2>MSI GT Dominator Pro</h2>
    <strong>A monster of a gaming machine</strong>
    <p>If you are looking for a gaming laptop search no more. A rare gaming laptop with top-end Nvidia 980M graphics, and the extra cooling required to run high-end parts in a smaller Battery life is excellent for a gamers mobility. This by far one of the best latops we've tested.</p>
  </div>
  <div class="review-image-container">
    <img class="review-image" src="/p870-0.png" alt="" />
  </div>
</div>

<div class="review">
  <div class="review-body">
    <h2>MSI GT Dominator Pro</h2>
    <strong>A monster of a gaming machine</strong>
    <p>If you are looking for a gaming laptop search no more. A rare gaming laptop with top-end Nvidia 980M graphics, and the extra cooling required to run high-end parts in a smaller Battery life is excellent for a gamers mobility. This by far one of the best latops we've tested.</p>
  </div>
  <div class="review-image-container">
    <img class="review-image" src="/p870-0.png" alt="" />
  </div>
</div>

<div class="review">
  <div class="review-body">
    <h2>MSI GT Dominator Pro</h2>
    <strong>A monster of a gaming machine</strong>
    <p>If you are looking for a gaming laptop search no more. A rare gaming laptop with top-end Nvidia 980M graphics, and the extra cooling required to run high-end parts in a smaller Battery life is excellent for a gamers mobility. This by far one of the best latops we've tested.</p>
  </div>
  <div class="review-image-container">
    <img class="review-image" src="/p870-0.png" alt="" />
  </div>
</div>

<div class="callout">
  <h2 class="callout-title">ARE YOU READY?</h2>
  <div class="callout-image-container">
    {{#link-to 'home'}}
      <img class="t-min-img-size" src="/download.png" alt="" />
    {{/link-to}}
  </div>
 </div>

{{outlet}}
