<div class="admin-content-header">
  <ul class="admin-content-navmenu">
    {{#link-to "admin.laptop.index" tagName="li" href=false}}
      {{#link-to "admin.laptop.index"}}Laptops Index{{/link-to}}
    {{/link-to}}
    {{#link-to "admin.laptop.new" tagName="li" href=false}}
      {{#link-to "admin.laptop.new"}}Add Laptop{{/link-to}}
    {{/link-to}}
  </ul>
</div>

<div class="admin-content-main">
  {{outlet}}
</div>
