<div class="form-container">
  {{#simple-form class="form-stacked" onsubmit=(action login) as |formValues|}}
    <div class="form-field">
      <label>Email:</label>
      {{input class="input-name" value=formValues.email placeholder="Email"}}
    </div>

    <div class="form-field">
      <label>Password:</label>
      {{input class="input-name" type='password' value=formValues.password placeholder="password"}}
    </div>

    <div class="form-submits">
        <button class="button-primary">Login</button>
    </div>
{{/simple-form}}

  <div class="form-header-external">Private Cloud &#64; labInveno Systems</div>
     </div>

{{outlet}}
